$primaryColor = rgb(223,72,72)
$primaryColor-r = red($primaryColor)
$primaryColor-g = green($primaryColor)
$primaryColor-b = blue($primaryColor)

$font-stack = "Source Sans Pro", "Helvetica Neue"

$editorWidth = (100 - 60)
$editorBarHeight = (100 - 95)
$codemirrorHeight = (100 - ($editorBarHeight))

$previewWidth = (100 - ($editorWidth))

$heightChange = 2.5


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(local/fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(local/fonts/SourceSansPro-It.otf);
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(local/fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url(local/fonts/SourceSansPro-BoldIt.otf);
}

html, body, p, h1, h2, input, textarea, label, a {
  padding 0
  margin 0
  border none
  outline none
  font-size 100% 
  text-decoration none
  color rgb(70,70,70)
  text-decoration none
  font-weight normal
  font-family $font-stack
}

pre, xmp, plaintext, listing {
  font-family: "Source Code Pro", menlo, monospace;
}

html, body {
  background rgb(255,255,255)
  width 100%
  height 100%
  min-height: 600px
  position: relative
  overflow hidden
}

div.dimmer {
  height 100%
  width 100%
  position fixed
  top 0
  left 0
  background-color rgba(0,0,0,.4)
  z-index 1000
  opacity 0
  transition opacity .5s ease
  
  &.show {
    opacity 1
  }
  
}



