// $dropdown-menus-color = rgba(90,82,82,.9)
$dropdown-menus-color = alpha($primaryColor, 0.9)

$dropdown_height = 300px
$searchbar_height = 40px
$newBrand_btn_height = 30px
$brandsListCont_height = ($dropdown_height - ($searchbar_height + 3))
$brandsListCont_bottomBtn_height = $brandsListCont_height - $newBrand_btn_height
// $brandsListCont-bottomBtn-height = 227px


section#editor {
	position fixed
	top 0
	left 0
	height 100%
	width ($editorWidth)%
	color white
	background-color rgb(36,36,36)
	border-right 7px solid $primaryColor
	box-sizing border-box
	overflow-x scroll
	overflow-y hidden
	transition left .5s ease
	
	section#sectionInner {
		min-width 500px
		max-height 100%
		min-height 100%
		height 100%
		color inherit
		
		div#editorBar {
			background-color rgb(55,55,55)
			width 100%
			min-width 500px
			height ($editorBarHeight)%
			color inherit
			position relative
			top 0
			left 0
			z-index 10
			user-select none

			@media screen and (max-height:600px) {
				height ($editorBarHeight + $heightChange)%
			}
			
			@media screen and (min-height:1200px) {
				height ($editorBarHeight - ($heightChange * 0.5))%
			}
			
			div#editorBarInner {
				height 30px
				line-height 30px
				width 100%
				position relative
				top 50%
				transform translateY(-50%)
				
				span.arrow {
					color inherit
					display inline-block
					margin 0 4px
					height 100%
					float left
				}
				
				// div#brandName{
				// 	height 100%
				// 	float left
				// 	font-size 1.25em
				// 	padding 0 10px
				// 	margin 0 10px
				// 	max-width 250px
				// 	// overflow hidden
				// 	position relative
				// }	

				// div#projectName {
				// 	height 100%
				// 	float left
				// 	font-size 1.25em
				// 	padding 0 10px
				// 	margin 0 10px
				// 	max-width 250px
				// 	// overflow hidden
				// 	position relative
				// 	// background-color purple
				// }
				
				// div#fileName {
				// 	height 100%
				// 	float left
				// 	font-size 1.25em
				// 	padding 0 10px
				// 	margin 0 10px
				// 	max-width 250px
				// 	// overflow hidden
				// 	position relative
				// 	// background-color purple
				// }
				
				// DROPDOWN MENUS
				div.btn {
					height 100%
					float left
					font-size 1.25em
					padding 0 10px
					margin 0 10px
					max-width 250px
					// overflow hidden
					position relative
					letter-spacing 0.25px
					
					background-color rgba(255,255,255,0)
					cursor pointer
					transition background-color .3s ease
					&:hover {
						background-color rgba(255,255,255,.2)
					}
					&.dropdown-active {
						background-color rgba(255,255,255,.2)
					}
					
					&.inactive {
						color rgba(255,255,255,.3)
						&:hover {
							background-color rgba(255,255,255,0)
						}
					}
					
					div.dropdown {
						overflow hidden
						height 316px
						width 200px
						cursor default
						position absolute
						top 120%
						left 0
						opacity 1
						
						transition height .2s ease, width .2s ease, top .2s ease, opacity .2s ease
						
						
						
						.arrow {
							display block
							width 0
							height 0
							position absolute
							top 0px
							left 10px
							border-left 18px solid transparent
							border-right 18px solid transparent
							border-bottom 16px solid $dropdown-menus-color
							z-index 1000
						}
						
						.dropdownBody{
							height $dropdown_height
							width 100%
							// pointer-events none
							background-color $dropdown-menus-color
							box-shadow 0 3px 10px rgba(0,0,0,.4)
							position absolute
							bottom 0
							outline 1px solid rgba(0,0,0,.2)
							z-index 999
							border-radius 1px
							


							// BRANDS DROPDOWN BODY
							div#searchBrandsContainer {
								padding 0
								height $searchbar_height
								border-bottom 3px solid rgb(245,240,240)
								
								input#searchBrands {
									display block
									width 100%
									background-color rgba(255,255,255,0)
									height 100%
									color rgba(255,255,255,1)
									text-indent 4px
									user-select text
									transition color .15s ease
									
									&::-webkit-input-placeholder {
										color rgb(230,230,230)
										transition color .15s ease
									}

								}
								
								
							}
							
							#brandsListCont {
								height $brandsListCont_height
								overflow-y scroll
								position relative
								transition border-top .15s ease, border-bottom .15s ease, height .2s ease
								
								.header {
									font-size 19px
									padding 5px 0 0
									// border-bottom 1px solid rgba(255,255,255, .2)
									border-left 0.5px solid rgba(255,255,255, .05)
									border-right 0.5px solid rgba(255,255,255, .05)
									// background-color rgba(70,70,70,0)
									color rgb(190,190,190)
									font-weight 400
									// text-transform uppercase
									letter-spacing .25px
									text-indent 5px
									// text-align center
								}

								.brand-item {
									display block
									width 100%
									text-align left
									background-color rgba(0,0,0,0)
									padding 4px 5px
									color white
									cursor pointer
									transition background-color .3s ease
									&:hover, &:focus {
										background-color rgba(0,0,0,.2)
									}
								}
								
								.noResultsCont {
									.noResults {
										color rgba(255,255,255,.9)
										font-size 19px;
										position absolute
										top 50px
										font-weight 300
										text-align center
										width 100%
								
									}
									#noResult-createBrand {
										background-color rgb(50,50,50)
										position absolute
										bottom 20px
										box-shadow 0 2px 8px rgba(0,0,0,.2)
										padding 12px 0
										cursor pointer
										text-align center
										width 90%
										left 5%
										overflow hidden
										transition background-color .15s ease
										&:hover {
											background-color rgb(60,60,60)
										}
										div {
											font-size 17px
											line-height 18px
											color white
										}
										div[data-brandname] {
											font-size 22px
											line-height 22px
											color white
											letter-spacing 1px
											&.long {
												font-size 18px
											}
										}
										
										&.medium {
											div[data-brandname] {
												font-size 19px
											}
										}
										
										&.large {
											width 94%
											left 3%
											div[data-brandname] {
												font-size 17px
												letter-spacing 0.8px
											}
										}
									}
								}
								
								// .emptyCont {
								// 	font-size 20px
								// 	padding 5px
								// }
								
								&.showBottomBtn {
									height $brandsListCont_bottomBtn_height
								}
								&.no-results {
									height $brandsListCont_bottomBtn_height - 20
								}
								
							}
						
							button#createBrand {
								position relative
								height $newBrand_btn_height
								width 100%
								font-size 17px
								color rgb(230,230,230)
								background-color rgb(70,70,70)
								cursor pointer
								overflow hidden
								transition background-color .15s ease, color .15s ease, height .2s ease
								
								&:hover {
									background-color rgb(80,80,80)
								}
								&.disabled {
									background-color rgba(90,90,90, .9)
									color rgba(150,150,150, .8)
									cursor not-allowed
									// transition background-color 0s ease
								}
								&.no-results {
									height $newBrand_btn_height + 20
								}
							

							}
							

							&.projects {
								overflow-x visible
								
								.header {
									font-size 19px
									padding 5px 0 0
									// border-bottom 1px solid rgba(255,255,255, .2)
									border-left 0.5px solid rgba(255,255,255, .05)
									border-right 0.5px solid rgba(255,255,255, .05)
									// background-color rgba(70,70,70,0)
									color rgb(190,190,190)
									font-weight 400
									// text-transform uppercase
									letter-spacing .25px
									text-indent 5px
									// text-align center
								}
								
								.project-item {
									display block
									width 100%
									text-align left
									background-color rgba(0,0,0,0)
									padding 4px 5px
									color white
									cursor pointer
									transition background-color .3s ease
									&:hover, &:focus {
										background-color rgba(0,0,0,.2)
									}
								}
								
								.no-projects {
									color rgba(255,255,255,.9)
									font-size 19px;
									position absolute
									top 50px
									font-weight 300
									text-align center
									width 100%
								}
								

							}
							
							// PROJECTS DROPDOWN BODY
							//
							



						}
						
						&.hide {
							height 0
							width 0
							top 110%
							opacity .5
							
							.dropdownBody{
								
								// BRANDS DROPDOWN HIDDEN
								div#searchBrandsContainer {
									
									input#searchBrands {
										color rgba(255,255,255,0)
										
										&::-webkit-input-placeholder {
											color rgba(230,230,230,1)
										}
										
									}
									
								}
								#recentBrands {
									border-top: 1px solid rgba(255,255,255, 0)
									border-bottom: 1px solid rgba(255,255,255, 0)
								}
								#newBrand {
									color rgba(255,255,255,0)
								}
								

								// PROJECTS DROPDOWN HIDDEN
								//


							}

						}
						
						#newProjectInput {
							position absolute
							bottom 0
							left 0
							width 100%
							font-size 17px
							line-height 40px
							text-indent 4px
							z-index 1001
							height 40px
							background-color transparent
							color white
							border-top 1px solid rgba(255,255,255,.9)
							
							&::-webkit-input-placeholder {
								color rgb(230,230,230)
								transition color .15s ease
							}
						}
						
						#newProject-btn {
							height 18px
							width 18px
							position absolute
							bottom 11px
							right 8px
							z-index 1001
							cursor pointer
							.vertical-bar {
								position absolute
								top 0
								left 50%
								height 100%
								width 3px
								transform translateX(-50%)
								background-color rgb(230,225,225)
								transition background-color .2s ease
							}
							.horizontal-bar {
								position absolute
								top 50%
								left 0
								height 3px
								width 100%
								transform translateY(-50%)
								background-color rgb(230,225,225)
								transition background-color .2s ease
							}
							&:hover {
								.vertical-bar {
									background-color rgb(255,255,255)
								}
								.horizontal-bar {
									background-color rgb(255,255,255)
								}
							}
							

						}
						
					}

				}


			}
			
		}
		
		#codemirror-wrapper {
			height ($codemirrorHeight)%
			width 100%
			min-width 400px
			position absolute
			top ($editorBarHeight)%
			left 0
			z-index 5
			@media screen and (max-height:600px){
				height ($codemirrorHeight - $heightChange)%
				top ($editorBarHeight + $heightChange)%
			}
			@media screen and (min-height:1200px){
				height ($codemirrorHeight + ($heightChange * 0.5))%
				top ($editorBarHeight - ($heightChange * 0.5))%
			}
		}
		
	}
	

	
	&.hide {
		left -100%
	}
	
	@media screen and (max-width:1200px) {
		section#sectionInner {
			div#editorBar {
				font-size 80%
				div#brandName {

				}
				
				div#projectName {

				}

			}
		}
	}


}