webview#preview {
	display block
	position absolute
	top 0
	right 0
	height 100%
	width ($previewWidth)%
	box-sizing border-box
	border-left 2px solid $primaryColor
	opacity 1
	transition right .5s ease, opacity .3s ease
	
	&.hide {
		right -100%
	}
	& + #previewLoader {
		background white
		// background alpha($primaryColor, 0)
		position absolute
		top 0
		right -100%
		z-index 10000
		height 100%
		width ($previewWidth)%
		// opacity 1
		opacity 0
		transition opacity .25s ease
		// animation: loading 0.5s ease 0s infinite alternate
		

		
		#logo {
			height 90px
			width auto
			position absolute
			top -2px
			left 5%
			
			#QUALTRICS-LOGO{
				fill rgb(180,180,180)
			}
		}
		
		h1 {
			font-family 'Source Sans Pro'
			display inline-block
			text-align center
			font-weight 800
			color rgb(180,180,180)
			font-size 40px
			position absolute
			top 48%
			left 50%
			padding 0
			margin 0
			transform translate(-50%, -50%)
			div {
				position absolute
				bottom 5px
				left 110%
				width 50px
				height 30px
			
				span {
					position absolute
					bottom 0
					height 40px
					width 40px
					background-color rgb(180,180,180)
					display block
					border-radius 50%
					transform translate(-50%, 25%) scale(0.25)
					
					&.circle1 {
						left 0
					}
					&.circle2 {
						left 50%
					}
					&.circle3 {
						left 100%
					}

				}
			}
			
		}
		


	}
	&.loading-fadeout {
		// opacity 0
		
		& + #previewLoader {
			opacity 1
			right 0
			#logo {
				#QUALTRICS-LOGO{
					fill rgb(180,180,180)
					animation q-loading 1.75s ease 0s infinite
				}
			}
			h1 {
				div {
					span {
						&.circle1 {
							animation circle-loading 1.5s ease 0s infinite
						}
						&.circle2 {
							animation circle-loading 1.5s ease 0s infinite
						}
						&.circle3 {
							animation circle-loading 1.5s ease 0s infinite
						}

					}
				}
				
			}
		}

	}
}

@keyframes q-loading {
	0% {
		fill rgb(180,180,180)
	}
	50% {
		fill alpha($primaryColor, .8)
	}
	100% {
		fill rgb(180,180,180)
	}
}

@keyframes circle-loading {
	0% {
		transform translate(-50%, 25%) scale(0.25)
		background-color rgb(180,180,180)
	}
	50% {
		transform translate(-50%, 25%) scale(0.4)
		background-color alpha($primaryColor, .8)
	}
	100% {
		transform translate(-50%, 25%) scale(0.25)
		background-color rgb(180,180,180)
	}
}
