webview#preview {
	display block
	position absolute
	top 0
	right 0
	height 100%
	width ($previewWidth)%
	transition right .5s ease
	box-sizing border-box
	// border-left 5 px solid rgb(50,50,50)
	
	&.hide {
		right -100%
	}
	
}
