/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: "Source Code Pro", menlo, monospace;
  position:relative;
  width: 100%;
  height: 100%;
  color: black;

}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
.CodeMirror.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@-webkit-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}

/* Can style cursor different in overwrite (non-insert) mode */
div.CodeMirror-overwrite div.CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  height: 100%;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: "Source Code Pro", menlo, monospace;;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror ::selection { background: #d7d4f0; }
.CodeMirror ::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror {background: rgb(36,36,36); color: #f8f8f2;}
.cm-s-monokai div.CodeMirror-selected {background: rgb(90,80,80) !important;}
.cm-s-monokai.CodeMirror ::selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai.CodeMirror ::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-gutters {background: rgb(41,39,39); border-right: 0;}
.cm-s-monokai .CodeMirror-guttermarker { color: white; }
.cm-s-monokai .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-linenumber {color: rgb(100,100,100);}
.cm-s-monokai .CodeMirror-cursor {border-left: 1px solid #f8f8f0 !important;}

.cm-s-monokai span.cm-comment {color: #75715e;}
.cm-s-monokai span.cm-atom {color: #ae81ff;}
.cm-s-monokai span.cm-number {color: #ae81ff;}

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {color: #a6e22e;}
.cm-s-monokai span.cm-keyword {color: #f92672;}
.cm-s-monokai span.cm-string {color: #e6db74;}

.cm-s-monokai span.cm-variable {color: #f8f8f2;}
.cm-s-monokai span.cm-variable-2 {color: #9effff;}
.cm-s-monokai span.cm-variable-3 {color: #66d9ef;}
.cm-s-monokai span.cm-def {color: #fd971f;}
.cm-s-monokai span.cm-bracket {color: #f8f8f2;}
.cm-s-monokai span.cm-tag {color: #f92672;}
.cm-s-monokai span.cm-header {color: #ae81ff;}
.cm-s-monokai span.cm-link {color: #ae81ff;}
.cm-s-monokai span.cm-error {background: rgba(105,50,50,.6);}

.cm-s-monokai .CodeMirror-activeline-background {background: #373831 !important;}
.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url("local/fonts/SourceSansPro-ExtraLight.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url("local/fonts/SourceSansPro-ExtraLight-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("local/fonts/SourceSansPro-Light.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url("local/fonts/SourceSansPro-Light-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("local/fonts/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("local/fonts/SourceSansPro-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("local/fonts/SourceSansPro-Bold.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url("local/fonts/SourceSansPro-BoldIt.otf");
}
html,
body,
p,
h1,
h2,
input,
textarea,
label,
a,
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  color: #464646;
  text-decoration: none;
  font-weight: normal;
  font-family: "Source Sans Pro", "Helvetica Neue";
}
pre,
xmp,
plaintext,
listing {
  font-family: "Source Code Pro", menlo, monospace;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url("local/fonts/SourceSansPro-ExtraLight.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url("local/fonts/SourceSansPro-ExtraLight-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("local/fonts/SourceSansPro-Light.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url("local/fonts/SourceSansPro-Light-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("local/fonts/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("local/fonts/SourceSansPro-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("local/fonts/SourceSansPro-Bold.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url("local/fonts/SourceSansPro-BoldIt.otf");
}
html,
body,
p,
h1,
h2,
input,
textarea,
label,
a {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  color: #464646;
  text-decoration: none;
  font-weight: normal;
  font-family: "Source Sans Pro", "Helvetica Neue";
}
pre,
xmp,
plaintext,
listing {
  font-family: "Source Code Pro", menlo, monospace;
}
html,
body {
  background: #fff;
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}
div.dimmer {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
}
div.dimmer.show {
  opacity: 1;
}
.header {
  font-size: 19px;
  padding: 5px 0 0;
  border-left: 0.5px solid rgba(255,255,255,0.05);
  border-right: 0.5px solid rgba(255,255,255,0.05);
  color: #a0a0a0;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-indent: 5px;
}
section#editor {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  color: #fff;
  background-color: #242424;
  border-right: 7px solid #df4848;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition: left 0.5s ease;
          transition: left 0.5s ease;
}
section#editor section#sectionInner {
  min-width: 500px;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  color: inherit;
}
section#editor section#sectionInner div#editorBar {
  background-color: #373737;
  width: 100%;
  min-width: 500px;
  height: 5%;
  color: inherit;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-height: 600px) {
  section#editor section#sectionInner div#editorBar {
    height: 7.5%;
  }
}
@media screen and (min-height: 1200px) {
  section#editor section#sectionInner div#editorBar {
    height: 3.75%;
  }
}
section#editor section#sectionInner div#editorBar div#editorBarInner {
  height: 30px;
  line-height: 30px;
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
section#editor section#sectionInner div#editorBar div#editorBarInner span.arrow {
  color: inherit;
  display: inline-block;
  margin: 0 4px;
  height: 100%;
  float: left;
  opacity: 1;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn {
  height: 100%;
  float: left;
  font-size: 1.25em;
  padding: 0 10px;
  margin: 0 10px;
  max-width: 250px;
  position: relative;
  letter-spacing: 0.25px;
  background-color: rgba(255,255,255,0);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn:hover {
  background-color: rgba(255,255,255,0.2);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn.dropdown-active {
  background-color: rgba(223,72,72,0.85);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn.inactive {
  color: rgba(255,255,255,0.3);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn.inactive:hover {
  background-color: rgba(255,255,255,0);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown {
  overflow: hidden;
  height: 316px;
  width: 200px;
  cursor: default;
  position: absolute;
  top: 120%;
  left: 0;
  opacity: 1;
  -webkit-transition: height 0.2s ease, width 0.2s ease, top 0.2s ease, opacity 0.2s ease;
          transition: height 0.2s ease, width 0.2s ease, top 0.2s ease, opacity 0.2s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .arrow {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  left: 10px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 16px solid rgba(223,72,72,0.9);
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease 0.1s;
          transition: opacity 0.2s ease 0.1s;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .arrow.hide {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease 0s;
          transition: opacity 0.1s ease 0s;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody {
  height: 300px;
  width: 100%;
  background-color: rgba(40,40,40,0.95);
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  position: absolute;
  bottom: 0;
  border: 1px solid rgba(223,72,72,0.8);
  box-sizing: border-box;
  z-index: 999;
  border-radius: 1px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody .header {
  font-size: 18px;
  padding: 5px 0 0;
  border-left: 0.5px solid rgba(255,255,255,0.05);
  border-right: 0.5px solid rgba(255,255,255,0.05);
  color: #919191;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-indent: 5px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody .no-recent {
  padding: 5px;
  font-size: 17px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody div#searchBrandsContainer {
  padding: 0;
  height: 40px;
  border-bottom: 1px solid rgba(223,72,72,0.9);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody div#searchBrandsContainer input#searchBrands {
  display: block;
  width: 100%;
  background-color: rgba(255,255,255,0);
  height: 100%;
  color: #fff;
  text-indent: 4px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -webkit-transition: color 0.15s ease;
          transition: color 0.15s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody div#searchBrandsContainer input#searchBrands::-webkit-input-placeholder {
  color: #e1e1e1;
  -webkit-transition: color 0.15s ease;
          transition: color 0.15s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody div#searchBrandsContainer input#searchBrands:focus::-webkit-input-placeholder {
  color: #787878;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont {
  height: 259px;
  overflow-y: scroll;
  position: relative;
  -webkit-transition: border-top 0.15s ease, border-bottom 0.15s ease, height 0.2s ease;
          transition: border-top 0.15s ease, border-bottom 0.15s ease, height 0.2s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .brand-item {
  display: block;
  width: 100%;
  text-align: left;
  background-color: rgba(0,0,0,0);
  padding: 4px 5px;
  color: #ebebeb;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, padding 0.25s ease;
          transition: background-color 0.3s ease, color 0.3s ease, padding 0.25s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .brand-item:hover,
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .brand-item:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  padding: 4px 5px 4px 8px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont .noResults {
  color: rgba(255,255,255,0.9);
  font-size: 19px;
  position: absolute;
  top: 50px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont #noResult-createBrand {
  background-color: #323232;
  position: absolute;
  bottom: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  width: 90%;
  left: 5%;
  overflow: hidden;
  -webkit-transition: background-color 0.15s ease;
          transition: background-color 0.15s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont #noResult-createBrand:hover {
  background-color: #3c3c3c;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont #noResult-createBrand div {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont #noResult-createBrand div[data-brandname] {
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 1px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont #noResult-createBrand div[data-brandname].long {
  font-size: 18px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont #noResult-createBrand.medium div[data-brandname] {
  font-size: 19px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont #noResult-createBrand.large {
  width: 94%;
  left: 3%;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont .noResultsCont #noResult-createBrand.large div[data-brandname] {
  font-size: 17px;
  letter-spacing: 0.8px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont.showBottomBtn {
  height: 226px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody #brandsListCont.no-results {
  height: 207px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody button#createBrand {
  position: relative;
  height: 30px;
  width: 100%;
  font-size: 17px;
  color: #e6e6e6;
  background-color: rgba(223,72,72,0.85);
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: background-color 0.15s ease, color 0.15s ease, height 0.2s ease;
          transition: background-color 0.15s ease, color 0.15s ease, height 0.2s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody button#createBrand:hover {
  background-color: #df4848;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody button#createBrand.disabled {
  background-color: rgba(90,90,90,0.9);
  color: rgba(150,150,150,0.8);
  cursor: not-allowed;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody button#createBrand.no-results {
  height: 50px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.projects {
  overflow-x: visible;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.projects .project-item {
  display: block;
  width: 100%;
  text-align: left;
  background-color: rgba(0,0,0,0);
  padding: 4px 5px;
  color: #ebebeb;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, padding 0.25s ease;
          transition: background-color 0.3s ease, color 0.3s ease, padding 0.25s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.projects .project-item:hover,
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.projects .project-item:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  padding: 4px 5px 4px 8px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.projects .no-projects {
  color: rgba(255,255,255,0.9);
  font-size: 19px;
  position: absolute;
  top: 50px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.files {
  overflow-y: scroll;
  overflow-x: hidden;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.files .file-item {
  font-size: 16px;
  font-weight: 300;
  width: 190px;
  overflow-x: scroll;
  line-height: 17px;
  cursor: pointer;
  text-align: left;
  background-color: rgba(0,0,0,0);
  padding: 7px 5px;
  color: #ebebeb;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, padding 0.25s ease;
          transition: background-color 0.3s ease, color 0.3s ease, padding 0.25s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.files .file-item:hover,
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.files .file-item:focus {
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  padding: 7px 5px 7px 8px;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown .dropdownBody.files .file-item.bold {
  font-size: 17px;
  font-weight: 600;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown.hide {
  height: 0;
  width: 0;
  top: 110%;
  opacity: 0.5;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown.hide .dropdownBody div#searchBrandsContainer input#searchBrands {
  color: rgba(255,255,255,0);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown.hide .dropdownBody div#searchBrandsContainer input#searchBrands::-webkit-input-placeholder {
  color: #e6e6e6;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown.hide .dropdownBody #recentBrands {
  border-top: 1px solid rgba(255,255,255,0);
  border-bottom: 1px solid rgba(255,255,255,0);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown.hide .dropdownBody #newBrand {
  color: rgba(255,255,255,0);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 17px;
  line-height: 40px;
  text-indent: 5px;
  z-index: 1001;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border-top: 1px solid rgba(223,72,72,0.9);
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput::-webkit-input-placeholder {
  color: #d2d2d2;
  text-indent: 5px;
  -webkit-transition: color 0.15s ease;
          transition: color 0.15s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput + #newProject-btn {
  height: 18px;
  width: 18px;
  position: absolute;
  bottom: 11px;
  right: 8px;
  z-index: 1001;
  cursor: pointer;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput + #newProject-btn .vertical-bar {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 3px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #bebebe;
  -webkit-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput + #newProject-btn .horizontal-bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #bebebe;
  -webkit-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput + #newProject-btn:hover .vertical-bar {
  background-color: #dcdcdc;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput + #newProject-btn:hover .horizontal-bar {
  background-color: #dcdcdc;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput:focus::-webkit-input-placeholder {
  color: #787878;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput:focus + #newProject-btn .vertical-bar {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 3px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #dcdcdc;
  -webkit-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput:focus + #newProject-btn .horizontal-bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #dcdcdc;
  -webkit-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput:focus + #newProject-btn:hover .vertical-bar {
  background-color: #fff;
}
section#editor section#sectionInner div#editorBar div#editorBarInner div.btn div.dropdown #newProjectInput:focus + #newProject-btn:hover .horizontal-bar {
  background-color: #fff;
}
section#editor section#sectionInner #codemirror-wrapper {
  height: 95%;
  width: 100%;
  min-width: 400px;
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 5;
}
@media screen and (max-height: 600px) {
  section#editor section#sectionInner #codemirror-wrapper {
    height: 92.5%;
    top: 7.5%;
  }
}
@media screen and (min-height: 1200px) {
  section#editor section#sectionInner #codemirror-wrapper {
    height: 96.25%;
    top: 3.75%;
  }
}
section#editor.hide {
  left: -100%;
}
@media screen and (max-width: 1200px) {
  section#editor section#sectionInner div#editorBar {
    font-size: 80%;
  }
}
webview#preview {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  -webkit-transition: right 0.5s ease;
          transition: right 0.5s ease;
}
webview#preview.hide {
  right: -100%;
}
section#Prompter {
  position: fixed;
  top: -120px;
  left: 0;
  background: #242424;
  color: #fff;
  height: 60px;
  width: 100%;
  border-bottom: 4px solid #df4848;
  box-shadow: 0 10px 35px rgba(0,0,0,0.5);
  z-index: 10;
  -webkit-transition: top 0.5s ease;
          transition: top 0.5s ease;
}
section#Prompter.show {
  top: 0;
  -webkit-transition: top 0.25s ease;
          transition: top 0.25s ease;
}
section#Prompter .message {
  color: inherit;
  font-weight: bold;
  height: 100%;
  position: relative;
  float: left;
  line-height: 60px;
  margin: 0 30px 0 30px;
  font-size: 1.75em;
}
section#Prompter .btn {
  color: inherit;
  height: 48px;
  position: relative;
  top: 6px;
  float: left;
  line-height: 48px;
  background: #ffa500;
  padding: 0 15px;
  font-size: 1.25em;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
  background-color: rgba(255,255,255,0.15);
  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}
section#Prompter .mainBtn {
  background-color: rgba(223,72,72,0.85);
}
section#Prompter .mainBtn:hover {
  background-color: #eb5454;
}
section#Prompter .btn2 {
  margin: 0 20px 0 0;
}
section#Prompter .btn2:hover {
  background-color: #eb5454;
  background-color: rgba(255,255,255,0.3);
}
div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 9;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}
div.overlay.visible {
  opacity: 1;
}
