// ----------------------
// App Colors
// ----------------------
$primaryColor = rgb(223,72,72)
$affirmative-green = rgb(39,176,75)
$negative-red = rgb(225,68,68)


// ----------------------
// FONT STACK
// ----------------------
$font-stack = "Source Sans Pro", "Helvetica Neue"

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/SourceSansPro-ExtraLight-It.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/SourceSansPro-Light.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/SourceSansPro-Light-It.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/SourceSansPro-It.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/SourceSansPro-BoldIt.otf);
}

// ----------------------
// RESETS
// ----------------------
html, body, p, h1, h2, input, textarea, label, a, button {
  padding 0
  margin 0
  border none
  outline none
  font-size 100% 
  text-decoration none
  color rgb(70,70,70)
  text-decoration none
  font-weight normal
  font-family $font-stack
}
pre, xmp, plaintext, listing {
  font-family: "Source Code Pro", menlo, monospace;
}
