section#Prompter {
	position fixed
	top -120px
	left 0
	background rgb(36,36,36)
	color white
	height 60px
	width 100%
	border-bottom 4px solid $primaryColor
	box-shadow 0 10px 35px rgba(0,0,0,.5)
	z-index 10
	transition top .5s ease
	
	
	&.show {
		top 0
		transition top .25s ease
	}
	
	.message {
		color inherit
		font-weight bold
		height 100%
		position relative
		float left
		line-height 60px
		margin 0 30px 0 30px
		font-size 1.75em
	}
	
	.btn {
		color inherit
		height 48px
		position relative
		top 6px
		float left
		line-height 48px
		background orange
		padding 0 15px
		font-size 1.25em
		cursor pointer
		text-align center
		min-width 50px
		background-color rgba(255,255,255,.15)
		transition background-color .3s ease
	}
	
	.mainBtn {
		background-color alpha($primaryColor, 0.85)
		&:hover {
			background-color lighterShade($primaryColor)
		}
	}
	
	.btn2 {
		margin 0 20px 0 0
		&:hover {
			background-color lighterShade($primaryColor)
			background-color rgba(255,255,255,.30)
		}
	}
}

div.overlay {
	position fixed
	top 0
	left 0
	height 100%
	width 100%
	background-color rgba(0, 0, 0, .3)
	z-index 9
	opacity 0
	transition opacity .3s ease
	&.visible {
		opacity 1
	}
}