$primaryColor = rgb(223,72,72)
$primaryColor-r = red($primaryColor)
$primaryColor-g = green($primaryColor)
$primaryColor-b = blue($primaryColor)

$font-stack = "Source Sans Pro", "Helvetica Neue"

$windowHeight = 530
$barHeight = 30
$navHeight = $windowHeight - $barHeight


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(local/fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(local/fonts/SourceSansPro-It.otf);
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(local/fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url(local/fonts/SourceSansPro-BoldIt.otf);
}

html, section, body, p, h1, h2, div, span, input, textarea, label, a, button, select {
  padding 0
  margin 0
  border none
  border-radius 0
  outline none
  font-size 100% 
  text-decoration none
  color rgb(70,70,70)
  text-decoration none
  // appearance none // remove dropdown arrow for the "select" drop down element
  font-weight normal
  font-family $font-stack
}

html, body {
  width 100%
  height 100%
  position: relative
  overflow hidden
  background-color rgb(235,235,235)
  -webkit-user-select none
  -webkit-app-region no-drag
  transition background-color .3s ease
  &.white {
    background-color rgb(255,255,255)
  }
}

// QUALTRICS LOGO
svg.logo {
  height 80px
  width auto
  position absolute
  top 0
  right 0
  z-index 100
  padding 0 30px 5px 0
  -webkit-app-region drag
  cursor default
  transition top .3s ease
  
  path#QUALTRICS-LOGO {
    fill rgba(80,80,80,.15)
    transition fill .25s ease
  }

  &:hover {
    cursor grab
    
    path#QUALTRICS-LOGO {
      fill rgba(80,80,80,.25)
    }
    
  }
    
  &.saved {
    path#QUALTRICS-LOGO {
      fill rgba(40, 180, 50, .65)
    }
  }
    

  
  &.hide {
    top -100px
  }
  
}


// BOTTOM BAR (SAVE & CANCEL)
#bottom-bar {
  height ($barHeight)px
  width 100%
  position absolute
  bottom 0
  left 0
  box-sizing border-box
  // background-color rgb(210,210,210)
  text-align center
  line-height ($barHeight)px
  transition bottom .3s ease
  div.btn {
    -webkit-app-region: no-drag;
    height 100%
    width 50%
    position absolute
    top 0
    color white
    text-transform uppercase
    cursor pointer
    box-sizing border-box
    transition background-color .25s ease
    &:first-child {
      left 0
      background-color rgb(223,72,72)
      border-right 1px solid rgb(95,95,95)
      &:hover {
        background-color rgb(245,85,80)
      }
    }
    &:last-child {
      right 0
      background-color rgb(40,180,50)
      // border-left 1px solid rgb(95,95,95)
      &:hover {
        background-color rgb(50,200,55)
      }
    }

  }
  &.hide {
    bottom -($barHeight * 2)px
  }
}

#preferences-wrapper {
  height ($navHeight)px
  width 100%
  
  // background-color lime
  position relative
  top 0
  
  
}
