/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: "Source Code Pro", menlo, monospace;
  position:relative;
  width: 100%;
  height: 100%;
  color: black;

}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
.CodeMirror.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@-webkit-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}

/* Can style cursor different in overwrite (non-insert) mode */
div.CodeMirror-overwrite div.CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  height: 100%;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: "Source Code Pro", menlo, monospace;;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror ::selection { background: #d7d4f0; }
.CodeMirror ::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror {background: rgb(36,36,36); color: #f8f8f2;}
.cm-s-monokai div.CodeMirror-selected {background: rgb(90,80,80) !important;}
.cm-s-monokai.CodeMirror ::selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai.CodeMirror ::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-gutters {background: rgb(41,39,39); border-right: 0;}
.cm-s-monokai .CodeMirror-guttermarker { color: white; }
.cm-s-monokai .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-monokai .CodeMirror-linenumber {color: rgb(100,100,100);}
.cm-s-monokai .CodeMirror-cursor {border-left: 1px solid #f8f8f0 !important;}

.cm-s-monokai span.cm-comment {color: #75715e;}
.cm-s-monokai span.cm-atom {color: #ae81ff;}
.cm-s-monokai span.cm-number {color: #ae81ff;}

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {color: #a6e22e;}
.cm-s-monokai span.cm-keyword {color: #f92672;}
.cm-s-monokai span.cm-string {color: #e6db74;}

.cm-s-monokai span.cm-variable {color: #f8f8f2;}
.cm-s-monokai span.cm-variable-2 {color: #9effff;}
.cm-s-monokai span.cm-variable-3 {color: #66d9ef;}
.cm-s-monokai span.cm-def {color: #fd971f;}
.cm-s-monokai span.cm-bracket {color: #f8f8f2;}
.cm-s-monokai span.cm-tag {color: #f92672;}
.cm-s-monokai span.cm-header {color: #ae81ff;}
.cm-s-monokai span.cm-link {color: #ae81ff;}
.cm-s-monokai span.cm-error {background: rgba(105,50,50,.6);}

.cm-s-monokai .CodeMirror-activeline-background {background: #373831 !important;}
.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: inherit;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url("local/fonts/SourceSansPro-ExtraLight.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url("local/fonts/SourceSansPro-ExtraLight-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("local/fonts/SourceSansPro-Light.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url("local/fonts/SourceSansPro-Light-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("local/fonts/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("local/fonts/SourceSansPro-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("local/fonts/SourceSansPro-Bold.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url("local/fonts/SourceSansPro-BoldIt.otf");
}
html,
body,
p,
h1,
h2,
input,
textarea,
label,
a,
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  color: #464646;
  text-decoration: none;
  font-weight: normal;
  font-family: "Source Sans Pro", "Helvetica Neue";
}
pre,
xmp,
plaintext,
listing {
  font-family: "Source Code Pro", menlo, monospace;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ebebeb;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}
html.white,
body.white {
  background-color: #fff;
}
html,
body,
p,
h1,
h2,
input,
select,
textarea,
label,
a {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  color: #464646;
  text-decoration: none;
  font-weight: normal;
  font-family: "Source Sans Pro", "Helvetica Neue";
}
#Q-logo {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  z-index: 100;
  -webkit-app-region: drag;
  padding: 0 30px 5px 0;
  -webkit-transition: top 0.3s ease;
          transition: top 0.3s ease;
}
#Q-logo svg.logo {
  height: 100%;
  width: auto;
}
#Q-logo svg.logo path#QUALTRICS-LOGO {
  fill: rgba(80,80,80,0.15);
  -webkit-transition: fill 0.25s ease;
          transition: fill 0.25s ease;
}
#Q-logo:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
#Q-logo:hover svg.logo path#QUALTRICS-LOGO {
  fill: rgba(80,80,80,0.25);
}
#Q-logo.saved svg.logo path#QUALTRICS-LOGO {
  fill: rgba(39,176,75,0.8);
}
#Q-logo.deleted svg.logo path#QUALTRICS-LOGO {
  fill: rgba(225,68,68,0.8);
}
#Q-logo.hide {
  top: -100px;
}
#bottom-bar {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  -webkit-transition: bottom 0.3s ease;
          transition: bottom 0.3s ease;
}
#bottom-bar div.btn {
  -webkit-app-region: no-drag;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
#bottom-bar div.btn:first-child {
  left: 0;
  background-color: #e14444;
  border-right: 1px solid #5f5f5f;
}
#bottom-bar div.btn:first-child:hover {
  background-color: #e45757;
}
#bottom-bar div.btn:last-child {
  right: 0;
  background-color: #27b04b;
}
#bottom-bar div.btn:last-child:hover {
  background-color: #2bc353;
}
#bottom-bar.hide {
  bottom: -60px;
}
#preferences-wrapper {
  height: 500px;
  width: 100%;
  position: relative;
  top: 0;
}
nav#nav {
  height: 100%;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: left 0.3s ease;
          transition: left 0.3s ease;
}
nav#nav div.nav_option {
  position: relative;
  -webkit-app-region: no-drag;
  height: 100px;
  box-sizing: border-box;
  background: #3c3c3c;
  color: #fff;
  width: 100%;
  line-height: 100px;
  padding: 0 0 0 20px;
  font-size: 32px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: width 0.25s ease, background 0.25s ease, color 0.25s ease;
          transition: width 0.25s ease, background 0.25s ease, color 0.25s ease;
}
nav#nav div.nav_option:hover {
  background: #5a5a5a;
}
nav#nav div.nav_option.current {
  width: 107%;
  background-color: #787878;
}
nav#nav.hide {
  left: -300px;
}
section#panel {
  background-color: rgba(40,180,50,0);
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 75%;
  opacity: 1;
  font-size: 1.75em;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}
section#panel div#preferences_splash {
  height: 100%;
  line-height: 500px;
  font-size: 2em;
  text-align: center;
  color: #c8c8c8;
}
section#panel form {
  position: relative;
  z-index: 10;
  width: 68%;
  left: 10%;
  top: 10%;
  height: 90%;
  -webkit-app-region: no-drag;
}
section#panel form label {
  display: block;
}
section#panel form label:after {
  content: "";
  display: block;
  clear: both;
}
section#panel form label.extraMarginBottom {
  margin-bottom: 35px;
}
section#panel form h2 {
  margin: 0 0 5px;
}
section#panel form div.fieldSet {
  width: 100%;
  margin: 0 0 15px 0;
}
section#panel form div.fieldSet:after {
  content: "";
  display: block;
  clear: both;
}
section#panel form input {
  font-size: 21px;
  padding: 3px 0;
  display: block;
  min-width: 90%;
  outline: 2px solid #d7d7d7;
  margin: 0 0 15px;
  text-indent: 2px;
  border: none;
  -webkit-transition: outline 0.25s ease;
          transition: outline 0.25s ease;
}
section#panel form input:focus {
  outline-offset: 0;
  outline: 2px solid #bebebe;
}
section#panel form input.thumbnailName {
  width: 40%;
  display: inline-block;
  min-width: 50%;
  margin: 0 10px 0 0;
  float: left;
}
section#panel form label.radioLabel {
  display: block;
  line-height: 1;
  padding: 0;
  margin: 0 0 5px;
  font-size: 18px;
}
section#panel form label.radioLabel input {
  padding: 0;
  display: inline-block;
  margin: 0 0 0 10px;
  background: transparent;
  outline: none;
  height: 15px;
  width: 15px;
}
section#panel form label.radioLabel span {
  font-size: 14px;
}
section#panel form button {
  font-size: 16px;
  background-color: #6e6e6e;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  margin: 0 0 15px;
}
section#panel form button:hover {
  background-color: #5a5a5a;
}
section#panel form div.select_cont {
  width: 90%;
  background-color: #fff;
  outline: 2px solid #d7d7d7;
}
section#panel form div.select_cont select {
  display: block;
  font-size: 18px;
  height: 30px;
  width: 100%;
  margin: 0 0 20px;
  text-indent: 2px;
  background: transparent;
}
section#panel form div.select_cont.inline-block {
  width: 25%;
  float: left;
  height: 33px;
  display: inline-block;
}
section#panel form div.select_cont.inline-block select {
  display: block;
  font-size: 18px;
  height: auto;
  width: 100%;
  margin: 0;
  text-indent: 2px;
  background: transparent;
}
section#panel form#preferences_form {
  padding: 50px 0 0 0;
}
section#panel form label#path-to-brands-label span#homeDirectory {
  font-size: 14px;
  color: #787878;
  text-style: italic;
  display: inline-block;
  margin: 0 5px 0 0;
  height: 35px;
  line-height: 35px;
  float: left;
}
section#panel form label#path-to-brands-label input#path-to-brands {
  float: left;
  width: 50%;
  min-width: 0;
  display: inline-block;
}
section#panel form#snippetsForm {
  width: 70%;
  left: 5%;
  top: 5%;
  height: 90%;
}
section#panel form#snippetsForm #snippetsListCont {
  box-sizing: border-box;
  border: 1px solid #c8c8c8;
  background-color: #dcdcdc;
  height: 170px;
  max-height: 170px;
  overflow-y: scroll;
}
section#panel form#snippetsForm #snippetsListCont div.snippet-item {
  font-size: 16px;
  background-color: rgba(50,50,50,0.1);
  cursor: pointer;
  position: relative;
  padding: 4px;
  box-sizing: border-box;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
section#panel form#snippetsForm #snippetsListCont div.snippet-item:hover {
  background-color: rgba(50,50,50,0.25);
}
section#panel form#snippetsForm #snippetsListCont div.snippet-item.selected {
  background-color: #1564f5;
  color: #fff;
}
section#panel form#snippetsForm #snippetsListCont div.snippet-item.addNew {
  color: #fff;
  background-color: rgba(39,176,75,0.9);
}
section#panel form#snippetsForm #snippetsListCont div.snippet-item.top10 {
  border-left: 2px solid #2c73f6;
  border-right: 2px solid #2c73f6;
}
section#panel form#snippetsForm #snippetsListCont div.snippet-item.top10:nth-child(0n+1) {
  border-top: 3px solid #2c73f6;
}
section#panel form#snippetsForm #snippetsListCont div.snippet-item.top10:nth-child(0n+10) {
  border-bottom: 3px solid #2c73f6;
}
section#panel form#snippetsForm #snippetsListCont div.snippet-item .snippet-type {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
section#panel form#snippetsForm #snippetsListCont hr {
  margin: 0;
  padding: 0;
  background-color: #b4b4b4;
  outline: none;
  border: none;
  height: 1px;
}
section#panel form#snippetsForm #snippetEditSection {
  position: relative;
  top: 12px;
  height: 275px;
  border-top: 1px solid #c8c8c8;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo {
  position: relative;
  height: 40px;
  width: 100%;
  top: 10px;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo input#snippetName {
  font-size: 16px;
  width: 150px;
  min-width: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100%;
  line-height: 30px;
  height: 30px;
  padding: 0;
  top: 5px;
  box-sizing: border-box;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo input#snippetName.error {
  outline: 2px solid #e14444;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetTypeCont {
  display: inline-block;
  position: absolute;
  left: 200px;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetTypeCont label {
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  margin-right: 10px;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetTypeCont label input {
  display: inline-block;
  outline: none;
  border: none;
  margin-left: 3px;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont {
  height: 30px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 70px;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont div#snippetArrowUp {
  height: 100%;
  position: absolute;
  right: 0;
  cursor: pointer;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont div#snippetArrowUp svg {
  height: 100%;
  width: auto;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont div#snippetArrowUp svg path {
  fill: rgba(39,176,75,0.7);
  -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont div#snippetArrowUp:hover svg path {
  fill: #25a747;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont div#snippetArrowDown {
  height: 100%;
  position: absolute;
  left: 0;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont div#snippetArrowDown svg {
  height: 100%;
  width: auto;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont div#snippetArrowDown svg path {
  fill: rgba(225,68,68,0.75);
  -webkit-transition: fill 0.3s ease;
          transition: fill 0.3s ease;
}
section#panel form#snippetsForm #snippetEditSection #snippetInfo #snippetArrowsCont div#snippetArrowDown:hover svg path {
  fill: #e14444;
}
section#panel form#snippetsForm #snippetEditSection #snippetCodemirror {
  font-size: 16px;
  height: 215px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
section#panel form#snippetsForm #snippetEditSection.inactive-no_snippet {
  opacity: 0.3;
}
section#panel form#snippetsForm #snippetBtnsCont {
  background: rgba(230,230,230,0.6);
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  box-sizing: border-box;
  height: 275px;
  width: 90px;
  position: absolute;
  bottom: -10px;
  right: -120px;
}
section#panel form#snippetsForm #snippetBtnsCont .btn {
  height: 60px;
  width: 100%;
  left: 9px;
  width: 70px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  position: absolute;
  line-height: 60px;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
section#panel form#snippetsForm #snippetBtnsCont .btn#saveSnippetBtn {
  bottom: 10px;
  background-color: #27b04b;
}
section#panel form#snippetsForm #snippetBtnsCont .btn#saveSnippetBtn:hover {
  background-color: #2cc855;
}
section#panel form#snippetsForm #snippetBtnsCont .btn#newSnippetBtn {
  top: 10px;
  background-color: #1564f5;
}
section#panel form#snippetsForm #snippetBtnsCont .btn#newSnippetBtn:hover {
  background-color: #367af6;
}
section#panel form#snippetsForm #snippetBtnsCont .btn#deleteSnippetBtn {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #e14444;
}
section#panel form#snippetsForm #snippetBtnsCont .btn#deleteSnippetBtn:hover {
  background-color: #e55e5e;
}
section#panel form#snippetsForm #snippetBtnsCont .btn.inactive-no_snippet {
  opacity: 0.3;
  pointer: default;
}
section#panel form#snippetsForm #saveSnippet {
  position: absolute;
  top: 165px;
  padding: 5px 8px;
  right: 0px;
  background-color: #1564f5;
  -webkit-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
}
section#panel form#snippetsForm #saveSnippet:hover {
  background-color: #387bf7;
}
section#panel.hide {
  opacity: 0;
}
section#panel .fileListContainer {
  background-color: #fff;
  border: 2px solid #dcdcdc;
  box-sizing: border-box;
  height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}
section#panel .fileListContainer .file-item {
  border-top: 1px solid #f0f0f0;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
  position: relative;
  padding: 5px;
  cursor: pointer;
}
section#panel .fileListContainer .file-item:hover {
  background-color: rgba(0,0,0,0.1);
}
section#panel #editBtnsCont {
  width: 100%;
  position: relative;
  top: 15px;
  height: 50px;
}
section#panel #editBtnsCont .btn {
  height: 100%;
  width: 40%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
  background-color: #e14444;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
section#panel #editBtnsCont .btn:hover {
  background-color: #e55a5a;
}
section#Prompter {
  position: fixed;
  top: 0;
  left: 0;
  background: #242424;
  color: #fff;
  height: 60px;
  width: 100%;
  min-width: 600px;
  z-index: 10000;
  border-bottom: 4px solid #df4848;
  box-shadow: 0 10px 35px rgba(0,0,0,0.5);
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: -webkit-transform 0.5s ease;
          transition: transform 0.5s ease;
}
section#Prompter #prompterInput {
  display: block;
  height: 48px;
  position: relative;
  top: 6px;
  float: left;
  line-height: 48px;
  background: #fff;
  margin: 0 20px 0 10px;
  padding: 0 15px;
  font-size: 1.25em;
  min-width: 50px;
  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}
section#Prompter.show {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.25s ease;
          transition: transform 0.25s ease;
}
section#Prompter .message {
  color: inherit;
  font-weight: bold;
  height: 100%;
  position: relative;
  float: left;
  line-height: 60px;
  margin: 0 25px 0 25px;
  font-size: 1.75em;
}
section#Prompter .btn {
  color: inherit;
  height: 48px;
  position: relative;
  top: 6px;
  float: left;
  line-height: 48px;
  background: #ffa500;
  padding: 0 15px;
  font-size: 1.25em;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
  background-color: rgba(255,255,255,0.15);
  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}
section#Prompter .mainBtn {
  background-color: rgba(223,72,72,0.85);
}
section#Prompter .mainBtn:hover {
  background-color: #eb5454;
}
section#Prompter .btn2 {
  margin: 0 20px 0 0;
}
section#Prompter .btn2:hover {
  background-color: #eb5454;
  background-color: rgba(255,255,255,0.3);
}
div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 9;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}
div.overlay.visible {
  opacity: 1;
}
