@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url("local/fonts/SourceSansPro-ExtraLight.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url("local/fonts/SourceSansPro-ExtraLight-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("local/fonts/SourceSansPro-Light.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url("local/fonts/SourceSansPro-Light-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("local/fonts/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("local/fonts/SourceSansPro-It.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("local/fonts/SourceSansPro-Bold.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url("local/fonts/SourceSansPro-BoldIt.otf");
}
html,
body,
p,
h1,
h2,
input,
textarea,
label,
a,
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  color: #464646;
  text-decoration: none;
  font-weight: normal;
  font-family: "Source Sans Pro", "Helvetica Neue";
}
pre,
xmp,
plaintext,
listing {
  font-family: "Source Code Pro", menlo, monospace;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ebebeb;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}
html.white,
body.white {
  background-color: #fff;
}
html,
body,
p,
h1,
h2,
input,
select,
textarea,
label,
a {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  color: #464646;
  text-decoration: none;
  font-weight: normal;
  font-family: "Source Sans Pro", "Helvetica Neue";
}
svg.logo {
  height: 80px;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 0 30px 5px 0;
  -webkit-app-region: drag;
  cursor: default;
  -webkit-transition: top 0.3s ease;
          transition: top 0.3s ease;
}
svg.logo path#QUALTRICS-LOGO {
  fill: rgba(80,80,80,0.15);
  -webkit-transition: fill 0.25s ease;
          transition: fill 0.25s ease;
}
svg.logo:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
svg.logo:hover path#QUALTRICS-LOGO {
  fill: rgba(80,80,80,0.25);
}
svg.logo.saved path#QUALTRICS-LOGO {
  fill: rgba(39,176,75,0.8);
}
svg.logo.hide {
  top: -100px;
}
#bottom-bar {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  -webkit-transition: bottom 0.3s ease;
          transition: bottom 0.3s ease;
}
#bottom-bar div.btn {
  -webkit-app-region: no-drag;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
#bottom-bar div.btn:first-child {
  left: 0;
  background-color: #e14444;
  border-right: 1px solid #5f5f5f;
}
#bottom-bar div.btn:first-child:hover {
  background-color: #ed5050;
}
#bottom-bar div.btn:last-child {
  right: 0;
  background-color: #27b04b;
}
#bottom-bar div.btn:last-child:hover {
  background-color: #33bc57;
}
#bottom-bar.hide {
  bottom: -60px;
}
#preferences-wrapper {
  height: 500px;
  width: 100%;
  position: relative;
  top: 0;
}
nav#nav {
  height: 100%;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: left 0.3s ease;
          transition: left 0.3s ease;
}
nav#nav div.nav_option {
  position: relative;
  -webkit-app-region: no-drag;
  height: 100px;
  box-sizing: border-box;
  background: #3c3c3c;
  color: #fff;
  width: 100%;
  line-height: 100px;
  padding: 0 0 0 20px;
  font-size: 32px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: width 0.25s ease, background 0.25s ease, color 0.25s ease;
          transition: width 0.25s ease, background 0.25s ease, color 0.25s ease;
}
nav#nav div.nav_option:hover {
  background: #5a5a5a;
}
nav#nav div.nav_option.current {
  width: 107%;
  background-color: #787878;
}
nav#nav.hide {
  left: -300px;
}
section#panel {
  background-color: rgba(40,180,50,0);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 75%;
  opacity: 1;
  font-size: 1.75em;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}
section#panel div#preferences_splash {
  height: 100%;
  line-height: 500px;
  font-size: 2em;
  text-align: center;
  color: #c8c8c8;
}
section#panel form {
  position: relative;
  z-index: 10;
  width: 70%;
  left: 10%;
  top: 10%;
  -webkit-app-region: no-drag;
}
section#panel form label {
  display: block;
}
section#panel form label:after {
  content: "";
  display: block;
  clear: both;
}
section#panel form label.extraMarginBottom {
  margin-bottom: 35px;
}
section#panel form h2 {
  margin: 0 0 5px;
}
section#panel form div.fieldSet {
  width: 100%;
  margin: 0 0 15px 0;
}
section#panel form div.fieldSet:after {
  content: "";
  display: block;
  clear: both;
}
section#panel form input {
  font-size: 21px;
  padding: 3px 0;
  display: block;
  min-width: 90%;
  outline: 2px solid #d7d7d7;
  margin: 0 0 15px;
  text-indent: 2px;
  border: none;
  -webkit-transition: outline 0.25s ease;
          transition: outline 0.25s ease;
}
section#panel form input:focus {
  outline-offset: 0;
  outline: 2px solid #bebebe;
}
section#panel form input.thumbnailName {
  width: 40%;
  display: inline-block;
  min-width: 50%;
  margin: 0 10px 0 0;
  float: left;
}
section#panel form label.radioLabel {
  display: block;
  line-height: 1;
  padding: 0;
  margin: 0 0 5px;
  font-size: 18px;
}
section#panel form label.radioLabel input {
  padding: 0;
  display: inline-block;
  margin: 0 0 0 10px;
  background: transparent;
  outline: none;
  height: 15px;
  width: 15px;
}
section#panel form label.radioLabel span {
  font-size: 14px;
}
section#panel form button {
  font-size: 16px;
  background-color: #6e6e6e;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  margin: 0 0 15px;
}
section#panel form button:hover {
  background-color: #5a5a5a;
}
section#panel form div.select_cont {
  width: 90%;
  background-color: #fff;
  outline: 2px solid #d7d7d7;
}
section#panel form div.select_cont select {
  display: block;
  font-size: 18px;
  height: 30px;
  width: 100%;
  margin: 0 0 20px;
  text-indent: 2px;
  background: transparent;
}
section#panel form div.select_cont.inline-block {
  width: 25%;
  float: left;
  height: 33px;
  display: inline-block;
}
section#panel form div.select_cont.inline-block select {
  display: block;
  font-size: 18px;
  height: auto;
  width: 100%;
  margin: 0;
  text-indent: 2px;
  background: transparent;
}
section#panel form#preferences_form {
  padding: 50px 0 0 0;
}
section#panel form label#path-to-brands-label span#homeDirectory {
  font-size: 14px;
  color: #787878;
  text-style: italic;
  display: inline-block;
  margin: 0 5px 0 0;
  height: 35px;
  line-height: 35px;
  float: left;
}
section#panel form label#path-to-brands-label input#path-to-brands {
  float: left;
  width: 50%;
  min-width: 0;
  display: inline-block;
}
section#panel.hide {
  opacity: 0;
}
section#Prompter {
  position: fixed;
  top: -120px;
  left: 0;
  background: #242424;
  color: #fff;
  height: 60px;
  width: 100%;
  border-bottom: 4px solid #df4848;
  box-shadow: 0 10px 35px rgba(0,0,0,0.5);
  z-index: 10;
  -webkit-transition: top 0.5s ease;
          transition: top 0.5s ease;
}
section#Prompter.show {
  top: 0;
  -webkit-transition: top 0.25s ease;
          transition: top 0.25s ease;
}
section#Prompter .message {
  color: inherit;
  font-weight: bold;
  height: 100%;
  position: relative;
  float: left;
  line-height: 60px;
  margin: 0 30px 0 30px;
  font-size: 1.75em;
}
section#Prompter .btn {
  color: inherit;
  height: 48px;
  position: relative;
  top: 6px;
  float: left;
  line-height: 48px;
  background: #ffa500;
  padding: 0 15px;
  font-size: 1.25em;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
  background-color: rgba(255,255,255,0.15);
  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}
section#Prompter .mainBtn {
  background-color: rgba(223,72,72,0.85);
}
section#Prompter .mainBtn:hover {
  background-color: #eb5454;
}
section#Prompter .btn2 {
  margin: 0 20px 0 0;
}
section#Prompter .btn2:hover {
  background-color: #eb5454;
  background-color: rgba(255,255,255,0.3);
}
div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 9;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}
div.overlay.visible {
  opacity: 1;
}
