/////// LAYOUT STYLE
@if $layout-style == "Minimal" {
	$boxed-skincontent: T;
	$body-background-image-on: F;

} @elseif $layout-style == "Photo" {
	$boxed-skincontent: F;
	$body-background-image-on: T;

} @elseif $layout-style == "Color" {
	$boxed-skincontent: T;
	$body-background-image-on: F;
	$color-background: T;

} @else {
	$boxed-skincontent: F;
	$body-background-image-on: F;
}

//////// LOGO OPTIONS
@if $interchangeable-logo == "True" {
	$no-logo: T;
} @elseif $interchangeable-logo == "False" {
	$no-logo: F;
} @else {
	$no-logo: F;
}

@if $header-position == "Full-width Header" {
	$full-width-header: T;
} @else if $header-position == "Contained" {
	$full-width-header: F;
} @else {
	$full-width-header: F;
}

//////// OVERLAY FILTER
@if $survey-overlay-filter == "Dark Filter" {
	$overlay-dark: T;
} @elseif $survey-overlay-filter == "Light Filter" {
	$overlay-dark: F;
} @else {
	$overlay-dark: F;
}

//////// LABEL STYLES
@if $label-style-options == "Flat" {
	$label-style: 2;
	$button-style: $label-style;
	$radio-buttons: F; 
} @elseif $label-style-options == "3D" {
	$label-style: 1;
	$button-style: $label-style;
	$radio-buttons: F; 
} @elseif $label-style-options == "Radio Buttons" {
	$radio-buttons: T; 
	$label-style: 2;
	$button-style: $label-style;
} @else {
	$label-style: 2;
	$button-style: $label-style;
	$radio-buttons: F; 
}