<!DOCTYPE html>
<html class="white">

<head>
	<meta name="QTS Preferences" charset="UTF-8">
	<title>QTS Preferences</title>

	<style>
		/*//= include ../../styles/preferences/_.css*/
	</style>
		
</head>

<body class="white">

	<img id="logo" class="logo hide" src="local/images/qualtrics_logo.png">

	<section id="bottom-bar" class="hide">
		<div id="cancel" class="btn">cancel</div>
		<div id="save" class="btn">save</div>
	</section>

	<section id="preferences-wrapper">

		<nav id="nav" class="hide">
			<div id="QTS-option" class="nav_option">QTS</div>
			<div id="files-option" class="nav_option">Files</div>
			<div id="snippets-option" class="nav_option">Snippets</div>
			<div id="preview-option" class="nav_option">Preview</div>
			<div id="window-option" class="nav_option">Window</div>
		</nav>

		<section id="panel" class="hide">

			<div id="preferences_splash">PREFERENCES</div>

		</section>

	</section>

<script type="text/javascript">
	//= include ../../scripts/preferences/_.js
</script>

</body>

</html>