<!DOCTYPE html>
<html>

<head>
	<meta name="QTS Preferences" charset="UTF-8">
	<title>QTS Preferences</title>

	<style>
		/*//= include ../../styles/preferences/_.css*/
	</style>
		
</head>

<body>
	<section id="top-bar">
		<div id="cancel" class="btn">cancel</div>
		<div id="save" class="btn">save</div>
	</section>
	<section id="preferences-wrapper">
		<nav id="nav" class="hide">
			<div class="nav_option">QTS</div>
			<div class="nav_option">Files</div>
			<div class="nav_option">Snippets</div>
			<div class="nav_option">Preview</div>
			<div class="nav_option">Window</div>
		</nav>
	</section>

<script type="text/javascript">
	//= include ../../scripts/preferences/_.js
</script>

</body>

</html>