@if $framework-version == "2015" {
	.Skin {

		#SkinContent {
			@media only screen and (max-width: 767px) {
				@if $layout-style == "Color" {
					@if $full-width-header == T {
						border: 4px solid $primary-color;
						@include border-radius(8px);
					}
				} @elseif $layout-style == "Photo" {
					@if $boxed-skincontent == T {
						border: 4px solid transparent;
						@include border-radius(8px);
					}
				}
			}
		}

		#LogoContainer {
			padding: 0 20px;
			@media only screen and (max-width: $container-max-width){
				padding: 0 15px;
			}
			@if $full-width-header == T {
				padding: 0px !important;
			}
		}

		#Logo {
			@if $logo-image-position == "Center" {
				background-position: center center;
			} @else if $logo-image-position == "Right" {
				background-position: right center;
			}
			@if $full-width-header == T {
				margin: 0 20px;
				@media only screen and (max-width: $container-max-width){
					margin: 0 15px;
				}
			}
		}

		#Header {
			padding: 0px;
			text-align: left;
			@if $logo-image-position == "Center" {
				text-align: center;
			}
			@if $logo-image-position == "Left" {
				text-align: left;
			}
			@if $logo-image-position == "Right" {
				text-align: right;
			}
			@if $full-width-header == T {
				padding: 5px 20px;
				@media only screen and (max-width: $container-max-width){
					padding: 5px 15px;
				}
			}
		}

		#ProgressBar {
			font-size: 16px;
	  		position: relative;

	  		@if $header-position == "Contained" {
	  			@media only screen and (min-width: 768px){
	  				padding-bottom: 40px;
	  			}
	  		}

			@if $progress-bar-style == "Rounded" {
				padding: 20px 0;
				max-width: $container-max-width;
				margin: auto;
			}

			@media only screen and (max-width: 767px) {
				@if $progress-bar-style == "Rounded" {
					max-width: 95%;
				}
			}
		
			tr {
				td:first-child {
					color: $reverse-primary-text-color;

					@if $layout-style == "Color" {
						color: set-reverse-text-color($body-background-color);
					}
					position: absolute;
					left: 0;
					line-height: 18px;
					border-left: none;
					width: 100%;

					@if $progress-bar-style == "Minimal" {
						display: none;
						font-size: 0px;
					} @elseif $progress-bar-style == "Thick" {
						padding-top: 4px;
						padding-left: 4px;
					} @elseif $progress-bar-style == "Rounded" {
						width: initial;
						position: relative;
						padding-right: 4px;
						border: none;

						@if $progress-bar-style == "Rounded" {
							color: set-reverse-text-color($body-background-color);
						}
					}


					& + td {
						width: 100%;

						& + td {
							position: absolute;
							right: 0;
							line-height: 18px;
							color: set-reverse-text-color($progress-bar-background-color);


							@if $progress-bar-style == "Minimal" {
								display: none;
								font-size: 0;
							} @elseif $progress-bar-style == "Thick" {
								padding-top: 4px;
								padding-right: 4px;
							} @elseif $progress-bar-style == "Rounded" {
								color: set-reverse-text-color($body-background-color);
								position: relative;
								padding-left: 4px;
							}
						}
					}
				}
			}
		}

		.ProgressBarContainer {
			width: 100%;
			border-collapse: collapse;
			border-right: 4px solid #e8e8eb;
			border-left: 2px solid $progress-bar-fill-color;

			@if $progress-bar-style == "Rounded" {
				border: none;
			}
		}

		.ProgressBarFillContainer, #ProgressBarFillContainer {
			border-radius: 0;
			overflow:hidden;
			background:$progress-bar-background-color;
			width:100%;
			@if $progress-bar-style == "Rounded" {
				border-radius: 10px;
				width: 730px;
				@media all and (max-width:770px){
					width: 100%;
				}	
			}
		}

		.ProgressBarFill {
			background-color: $progress-bar-fill-color;
			height: 18px;
			@if $progress-bar-style == "Minimal" {
				height: 8px;
			} @elseif $progress-bar-style == "Thick" {
				height: 24px;
			}
		}
	}
}