<section id="editor" class="hide">
	<section id="sectionInner">

		<div id="editorBar">
			<div id="editorBarInner">
				<div id="brandName" class="btn"><span id="brandNameText">Brands</span></div>
				<span id="projects_arrow" class="arrow inactive"><img src="local/images/arrow_right.svg"></span>
				<div id="projectName" class="btn inactive"><span id="projectNameText">Projects</span></div>
				<span id="files_arrow"  class="arrow inactive"><img src="local/images/arrow_right.svg"></span>
				<form id="fileName" class="btn inactive"><span id="fileNameText">Files</span></form>
			</div>
		</div>

		<div id="codemirror-wrapper"><div id="codeMirror-cover"></div></div>

	</section>
</section>